*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: sans-serif;
    font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

.container{
    display: flex;
    justify-content: center;
    min-height: 100lvh;
    width:100%;
}

.content {
    background: #020024;
    background: linear-gradient(
        222deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.sizes {
    display: flex;
    gap: 4rem;
}

.sizes div {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: black;
}

@media screen and (max-width: 1440px) {
    html{
        font-size: 80%;
    }

    .content{
        max-width: 1440px;
        min-width: 1040px;
    }
} 

@media screen and (max-width: 1024px){
    html{
        font-size: 65%;
    }

    .content{
        max-width: 1030px;
        min-width: 770px;
    }
} 

@media screen and (max-width: 768px){
    html{
        font-size: 60%;
    }

    .content{
        max-width: 770px;
        min-width: 480px;
    }
} 

@media screen and (max-width: 420px){
    html{
        font-size: 50%;
    }

    .content{
        max-width: 440px;
        min-width: 300px;
    }
} 
